@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<div>
    @Html.ActionLink(
        linkText: "Сложить 10 и 20", 
        actionName: "Add", 
        controllerName: "Calc", 
        routeValues: new { op1 = 10, op2 = 20}, 
        htmlAttributes: null) @*Calc/Add/10/20*@

</div>

<div>
    @Html.ActionLink(
        linkText: "Умножить 5 и 5", 
        actionName: "Mul", 
        controllerName: "Calc", 
        routeValues: new { op1 = 5, op2 = 5}, 
        htmlAttributes: null) @*Calc/Mul/5/5*@

</div>

<div>
    @Html.ActionLink(
        linkText: "Вычесть 3 из 10",
        actionName: "Sub",
        controllerName: "Calc",
        routeValues: new { op1 = 10, op2 = 3 },
        htmlAttributes: null) @*Calc/Sub/10/3*@

</div>

<div>
    @Html.ActionLink(
        linkText: "Поделить 10 на 2",
        actionName: "Div",
        controllerName: "Calc",
        routeValues: new { op1 = 10, op2 = 2 },
        htmlAttributes: null) @*Calc/Div/10/2*@

    </div>