
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> Operand 1: @ViewBag.op1</div>
    <div> Operand 2: @ViewBag.op2</div>
    <div> Result: @ViewBag.Result</div>
</body>
</html>
